
{% extends 'base_authen.html.twig' %}
{% block body %}

   <!-- Page content start  -->
   <div class="page-content">
    <!-- Main container start -->
        <div class="main-container">
                    <!-- Row start -->
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                            

                                {% if not posts  %}
                                    
                                    <div class="alert-notify danger">
                                        <div class="alert-notify-body">
                                            <span class="type">Attention</span>
                                            <div class="alert-notify-title">Votre email <span style="color: brown;">{{email}}</span>  n’existe pas dans notre base.<img src="{{ asset('back_end/img/notification-danger.svg' ) }}" alt=""></div>
                                            <br>
                                            <hr>
                                            <div style="text-align:center">

                                                <a href="{{ path('forgotten_password') }}" class="btn btn-info">Entrez un autre email</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    
                                {% else %} 
                                        {% for post in posts %}
                                            <div class="alert-notify info">
                                                <div class="alert-notify-body">
                                                    <span class="type">Information</span>
                                                    <div class="alert-notify-title">Votre demande de réinitialisation de mot de passe a été reçue.
                                                        Vous avez fourni l'adresse e-mail suivante: <span style="color: brown;">{{post.email}}</span>.<img src="{{ asset('back_end/img/notification-info.svg' ) }}" alt="">
                                                    </div>
                                                    <br>
                                                    <hr>
                                                    <h6>
                                                        Vous recevrez 
                                                        dans les prochaines minutes un e-mail contenant des informations 
                                                        sur la réinitialisation de votre mot de passe.
                                                    </h6>
                                                </div>       
                                            </div>           
                                                
                                                        
                                        {% endfor %}
                                {% endif %}     
                        </div>   
                    </div>
                    <!-- Row end -->
        </div>
        <!-- Main container end -->
</div>    

{% endblock %}









